@model Admin.Models.Episodes.EpisodesListViewModel

<table id="episodesTable" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Arc</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ep in Model.Episodes)
        {
            @await Html.PartialAsync("_ListItem", ep)
        }
    </tbody>
</table>
